:root {
  --slide-with: 55vw;
  --slide-height: 29vw;
  --slide-count: 5;
  --padding-with: calc(var(--slide-with) / 100 * 26);
  --color: #668ad2;
  --color-hover: #eee;
  --background-color: #1B1F2D;
  --font-size: 1.4rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--background-color);
  font-family: sans-serif;
  font-size: var(--font-size);
  color: #eee;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  display: grid;
  width: var(--slide-with);
  grid-template-columns: 75% 25%;
  gap: 2% 0;
  overflow: hidden;
}
.slider__container {
  display: flex;
  width: calc(var(--slide-with) * var(--slide-count));
  height: var(--slide-height);
}
.slider__input {
  display: none;
}
.slider__slide {
  width: 100%;
}
.slider__slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.slider__pagination-wrapper {
  width: 100%;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-self: start;
  background-color: var(--background-color);
  z-index: 9;
  padding-bottom: 4rem;
}
.slider__pagination {
  display: flex;
  padding: 0.6rem;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.slider__pagination-dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--color);
  border: 0.2rem solid transparent;
}
.slider__text-container {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  width: calc( var(--slide-with) * var(--slide-count));
}
.slider__text {
  width: var(--slide-with);
  padding: 0.6rem var(--padding-with) 0.6rem 0.6rem;
  height: 6rem;
}
.slider__input:checked ~ .slider__container {
  transition: transform 0.5s ease-out;
}
#slide1:checked ~ .slider__container {
  transform: translateX( 0 );
}
#slide2:checked ~ .slider__container {
  transform: translateX( calc(100% / var(--slide-count) * -1) );
}
#slide3:checked ~ .slider__container {
  transform: translateX( calc(100% / var(--slide-count) * -2) );
}
#slide4:checked ~ .slider__container {
  transform: translateX( calc(100% / var(--slide-count) * -3) );
}
#slide5:checked ~ .slider__container {
  transform: translateX( calc(100% / var(--slide-count) * -4) );
}
.slider__input:checked ~ .slider__text-container {
  transition: transform 0.5s ease-out;
}
#slide1:checked ~ .slider__text-container {
  transform: translateX( 0 );
}
#slide2:checked ~ .slider__text-container {
  transform: translateX( calc(100% / var(--slide-count) * -1) );
}
#slide3:checked ~ .slider__text-container {
  transform: translateX( calc(100% / var(--slide-count) * -2) );
}
#slide4:checked ~ .slider__text-container {
  transform: translateX( calc(100% / var(--slide-count) * -3) );
}
#slide5:checked ~ .slider__text-container {
  transform: translateX( calc(100% / var(--slide-count) * -4) );
}
.slider__pagination:hover .slider__pagination-dot {
  background-color: var(--color-hover);
  transition: background 0.3s ease-out;
}
#slide1:checked ~ .slider__pagination-wrapper > .pagination-1 > .slider__pagination-dot,
#slide2:checked ~ .slider__pagination-wrapper > .pagination-2 > .slider__pagination-dot,
#slide3:checked ~ .slider__pagination-wrapper > .pagination-3 > .slider__pagination-dot,
#slide4:checked ~ .slider__pagination-wrapper > .pagination-4 > .slider__pagination-dot,
#slide5:checked ~ .slider__pagination-wrapper > .pagination-5 > .slider__pagination-dot {
  background-color: transparent;
  border: 0.2rem solid var(--color);
  transition: border 0.3s ease-out;
}
#slide1:checked ~ .slider__pagination-wrapper > .pagination-1:hover .slider__pagination-dot,
#slide2:checked ~ .slider__pagination-wrapper > .pagination-2:hover .slider__pagination-dot,
#slide3:checked ~ .slider__pagination-wrapper > .pagination-3:hover .slider__pagination-dot,
#slide4:checked ~ .slider__pagination-wrapper > .pagination-4:hover .slider__pagination-dot,
#slide5:checked ~ .slider__pagination-wrapper > .pagination-5:hover .slider__pagination-dot {
  border-color: var(--color-hover);
  transition: border 0.3s ease-out;
}

@media (max-width: 1600px) {
  :root {
    --slide-with: 60vw;
    --slide-height: 31.5vw;
    --padding-with: calc(var(--slide-with) / 100 * 28);
  }
}

@media (max-width: 1024px) {
  :root {
    --slide-with: 75vw;
    --slide-height: 39.5vw;
    --font-size: 1.1rem;
    --padding-with: calc(var(--slide-with) / 100 * 32);
  }
}

@media (max-width: 768px) {
  :root {
    --slide-with: 85vw;
    --slide-height: 45vw;
  }
  .slider {
    display: flex;
    flex-direction: column;
    gap: 2%;
  }
  .slider__pagination-wrapper {
    justify-content: center;
    margin: 0.5rem 0;
    padding-bottom: 0;
  }
  .slider__text {
    padding: 0 0.6rem 0.6rem 0.6rem;
  }
}

@media (max-width: 640px) {
  :root {
    --slide-with: 90vw;
    --slide-height: 47.37vw;
    --font-size: 1rem;
  }
  .slider__pagination {
    padding: 0.5rem;
  }
  .slider__pagination-dot {
    width: 1rem;
    height: 1rem;
  }
}